
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/GothamMedium.ttf') format('truetype');
 }

 @font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-book.ttf') format('truetype');
 }

  @font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/GothamLight.ttf') format('truetype');
 }


/* Category Menu */

.archive .category-menu,
.category .category-menu,
.single .category-menu{
    text-align: right;    
}

.archive .category-menu ul li:last-child,
.category .category-menu ul li:last-child,
.single .category-menu ul li:last-child{
    padding-right: 0;
}

.category-menu {
    font-family: Gotham-Medium;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.home .category-menu ul#main-menu li a{
    color:#4f5a65;
}

.home .category-menu ul#main-menu li a:focus,
.home .category-menu ul#main-menu li a:hover{
    color:#4f5a65;
    outline: none;
}


.category-menu ul#main-menu li{
	/*padding: 0 30px;*/
}
article .entry-header .blog-meta .category,
.category .category-menu ul li.current-menu-item a,
article .entry-header .blog-meta .category a:focus,
article .entry-header .blog-meta .category a:hover{
    color: #895cd1;
    text-decoration: none;
    outline: none;
}

article .entry-header .blog-meta .category,
.single .related-post,
article .entry-header .blog-meta .category a{
    font-family:Gotham-Medium;
    font-size:15px;
    letter-spacing:0px;
    text-align:left;
    text-transform: uppercase;
}

.archive .current-menu-item .active a,
.category .current-menu-item .active a,
.category .caption .post-category.design,
.archive .caption .entry-meta .author.design .published-on,
article .entry-header .blog-meta .design, 
.single .related-post.design,
article .entry-header .blog-meta .design a,
article .entry-header .blog-meta .design a:focus,
article .entry-header .blog-meta .design a:hover{
    color: #0081FF;     
    outline: none;
}

article .entry-header .blog-meta .technologies, 
.category .caption .post-category.technologies,
.archive .caption .entry-meta .author.technologies .published-on,
.single .related-post.technologies,
article .entry-header .blog-meta .technologies a,
article .entry-header .blog-meta .technologies a:focus,
article .entry-header .blog-meta .technologies a:hover{
    color: #3FB1F8; 
    outline: none;
}

article .entry-header .blog-meta .agile, 
.category .caption .post-category.agile,
.archive .caption .entry-meta .author.agile .published-on,
.single .related-post.agile,
article .entry-header .blog-meta .agile a,
article .entry-header .blog-meta .agile a:focus,
article .entry-header .blog-meta .agile a:hover{
    color: #33CCCC; 
    outline: none;
}

article .entry-header .blog-meta .people-practices, 
.category .caption .post-category.people-practices,
.archive .caption .entry-meta .author.people-practices .published-on,
.single .related-post.people-practices,
article .entry-header .blog-meta .people-practices a,
article .entry-header .blog-meta .people-practices a:focus,
article .entry-header .blog-meta .people-practices a:hover{
    color: #F58723; 
    outline: none;
}

.home .container .content-area article.grid-view, 
.archive .container.content-area article.grid-view,
.category .container.content-area article.grid-view{
    background: #ffffff;
    /*border: 1px solid #e4e1e1;
    height: 535px;
    margin: 0 12px 80px;
    max-height: 534px;
    padding: 0;
    width: 355px;*/
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

header.entry-header {
    border: 1px solid #e4e1e1;
    border-radius: 4px;
}

.blog-image{
    /*background-color: #ccc;*/
    height: 234px;
}

article .blog-image img{
    display: block;
    width: 100%;
    height: 100%;    
}

article .blog-image img.design{
    background: #0081FF url('../images/design.png') no-repeat scroll center center/ 100%;
    border-radius: 4px 4px 0 0;
}

article .blog-image img.technologies{
    background: #3FB1F8 url('../images/technology.png') no-repeat scroll center center/ 100%;
    border-radius: 4px 4px 0 0;
}

article .blog-image img.agile{
    background: #33CCCC url('../images/agile.png') no-repeat scroll center center/ 100%;
    border-radius: 4px 4px 0 0;
}

article .blog-image img.people-practices{
    background: #F58723 url('../images/people_practices.png') no-repeat scroll center center/ 100%;
    border-radius: 4px 4px 0 0;
}

/*article .blog-image img:not(.design):not(.agile){
    background: #3fb1f8 url('../images/technology.png') no-repeat scroll center center/ 100%;
}*/

.blog-meta{
    height: 200px;
    margin: 20px;
    position: relative;
}

.blog-meta .entry-title a{
    color:#2d4158;
    font-family:Gotham-Medium;
    font-size:26px;
    letter-spacing:0px;
    line-height:28px;
    text-align:left;
}

.blog-meta .entry-title a:focus,
.blog-meta .entry-title a:hover{
    color:#2d4158;
    text-decoration: none;
    outline: none;
}

.blog-meta .entry-meta{
    bottom: 0;
    /*margin-bottom: 14px;*/
    position: absolute;
}

.entry-meta .byline .author-name{
    font-family:Gotham-Book;
    font-size:16px;
    letter-spacing:0px;
    text-align:left;
}

.home .entry-meta .byline a{
    color:#0081FF;
}

.entry-meta .byline .posted-by, 
.entry-meta .posted-on, 
.entry-meta .posted-on .published-on{
    font-family:Gotham-Book;
    font-size:16px;
    color:#b9bdc5;
    letter-spacing:0px;
    text-align:left;
}

.entry-meta .byline a:focus,
.entry-meta .byline a:hover{
    text-decoration: none;
    color: #0081FF;
    outline: none;
}

.entry-meta .posted-on a:focus,
.entry-meta .posted-on a:hover{
    text-decoration: none;
    outline: none;
}

.wrapper-navbar{
    background-color: #fdfdfd;
}

.wrapper-navbar .bg-inverse {
    background-color: #fdfdfd;
    margin: 0 auto;
}

/*.bg-inverse a.navbar-brand, .bg-inverse a.navbar-brand:hover{
    font-family:Gotham-Light;
    font-size:62px;
    color:#2cacc0;
    letter-spacing:-2.72px;
    text-align:left;
}*/

.archive .bg-inverse a.navbar-brand, 
.archive .bg-inverse a.navbar-brand:focus,
.archive .bg-inverse a.navbar-brand:hover,
.category .bg-inverse a.navbar-brand,
.category .bg-inverse a.navbar-brand:focus,
.category .bg-inverse a.navbar-brand:hover,
.single .bg-inverse a.navbar-brand,
.single .bg-inverse a.navbar-brand:focus,
.single .bg-inverse a.navbar-brand:hover{
    font-family:Gotham-Light;
    font-size:30px;
    color:#2cacc0;
    letter-spacing:-1.32px;
    text-align:left;
    outline: none;
}




/*
.home .navbar-header {
    margin: 104px 0 72px;
    text-align: center;
}
*/
.brand-name {
    line-height: 50px;
}

.brand-name .navbar-brand{
    float: none;
}

.container.padding-left-x10{
    padding-left: 10px;
}

.container.padding-right-x10{
    padding-right: 10px;
}

hr.separator {
    border:1px solid #979797;
    margin: 0;
    opacity:0.2;
    padding: 0 10px;
}

/* Category Page */

.archive .navbar ul li:not(.active) a,
.archive .navbar ul li:not(.active) a:focus,
.archive .navbar ul li:not(.active) a:hover,
.category .navbar ul li:not(.active) a,
.category .navbar ul li:not(.active) a:focus,
.category .navbar ul li:not(.active) a:hover,
.single .navbar ul li:not(.active) a,
.single .navbar ul li:not(.active) a:focus,
.single .navbar ul li:not(.active) a:hover{
    color:#4f5a65;
    outline: none;
}

.archive .navbar ul li.active.design a,
.archive .navbar ul li.active.design a:focus,
.archive .navbar ul li.active.design a:hover,
.category .navbar ul li.active.design a,
.category .navbar ul li.active.design a:focus,
.category .navbar ul li.active.design a:hover,
.single .navbar ul li.current-post-ancestor.design a,
.single .navbar ul li.current-post-ancestor.design a:focus,
.single .navbar ul li.current-post-ancestor.design a:hover{
    color: #0081FF; 
    outline: none;
}

.archive .navbar ul li.active.technologies a,
.archive .navbar ul li.active.technologies a:focus,
.archive .navbar ul li.active.technologies a:hover,
.category .navbar ul li.active.technologies a,
.category .navbar ul li.active.technologies a:focus,
.category .navbar ul li.active.technologies a:hover,
.single .navbar ul li.current-post-ancestor.technologies a,
.single .navbar ul li.current-post-ancestor.technologies a:focus,
.single .navbar ul li.current-post-ancestor.technologies a:hover{
    color: #3FB1F8; 
    outline: none;
}

.archive .navbar ul li.active.agile a,
.archive .navbar ul li.active.agile a:focus,
.archive .navbar ul li.active.agile a:hover,
.category .navbar ul li.active.agile a,
.category .navbar ul li.active.agile a:focus,
.category .navbar ul li.active.agile a:hover,
.single .navbar ul li.current-post-ancestor.agile a,
.single .navbar ul li.current-post-ancestor.agile a:focus,
.single .navbar ul li.current-post-ancestor.agile a:hover{
    color: #33CCCC;
    outline: none;
}

.archive .navbar ul li.active.people-practices a,
.archive .navbar ul li.active.people-practices a:focus,
.archive .navbar ul li.active.people-practices a:hover,
.category .navbar ul li.active.people-practices a,
.category .navbar ul li.active.people-practices a:focus,
.category .navbar ul li.active.people-practices a:hover,
.single .navbar ul li.current-post-ancestor.people-practices a,
.single .navbar ul li.current-post-ancestor.people-practices a:focus,
.single .navbar ul li.current-post-ancestor.people-practices a:hover{
    color: #F58723; 
    outline: none;
}



/*New*/
.logo{
    padding: 94px 0 72px;
    text-align: center;
}

.logo .navbar-brand,
.logo.navbar-brand:focus,
.logo.navbar-brand:hover{
    font-family:Gotham-Light;
    font-size:62px;
    color:#2cacc0;
    letter-spacing:-2.72px;
    display: block;
    float:none;
    outline: none;
}

.logo .tag-line{
    color:#b9bdc5;
    font-family:Gotham-Light;
    font-size:24px;
    letter-spacing:0px;
    line-height:34px;
    display: block;
    width: 55%;
    margin: 0 auto;

}

.navbar-fixed-top .tag-line{
    display: none;
}

.navbar.wrapper-navbar{
    padding: 0;
}

.blog .container,
.archive .container,
.category .container,
.single .container{
    max-width: 1200px;
}

.navigation.posts-navigation {
    float: left;
    width: 100%;
}

/*For fixed header*/
.navbar-fixed-top{
    box-shadow: 0 0 5px #ddd;
    transition: linear 2ms all;
}

.navbar-fixed-top .logo{
    display: inline-block;
    float: left;
    margin: 0;
    text-align: left;
    padding: 0;
}

.navbar-fixed-top .logo .navbar-brand{
    font-size: 30px;
    letter-spacing: -1.32px;
}

.navbar-fixed-top .navbar{
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
}

.home .navbar-fixed-top .category-menu{
    border-bottom: none;
}

.navbar-fixed-top .category-menu .navbar-nav li{
    font-size: 15px;
}

.navbar-fixed-top .category-menu .navbar-nav li:last-child{
    padding-right: 0;
}

.category-menu .nav-link{
    margin: 0;
}

.nav-container{
    margin-top: 8px;
}

.content-wrapper{
    border-top: 2px solid rgba(0,0,0,0.6);
}

.nav-container{
    display: inline-block;
}

.navbar-fixed-top + .wrapper{
    padding-top: 420px;
}

.home .category-menu{
    text-align: center;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.logo .navbar-brand{
    padding-bottom: 0;
}
.archive .navbar-fixed-top + .wrapper,
.category .navbar-fixed-top + .wrapper,
.single .navbar-fixed-top + .wrapper{
    /*padding-top: 72px;*/
    padding-top: 52px
}

.single .single-header-bg{
    /*background: url("../images/category-design.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);*/
    display: table;
    height: 426px;
    width: 100%;
}

/*Remove this block of code and add image  */
/*.single .single-header-bg.design {
    background-color: #0081ff;
}
.single .single-header-bg.technologies {
    background-color: #3FB1F8;
}
.single .single-header-bg.agile {
    background-color: #33cccc;
}
.single .single-header-bg.people-practices {
    background-color: #F58723;
}*/

.single .single-header-bg.design {
    /*background-color: #0081ff;*/
    background: url("../images/design-header.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
.single .single-header-bg.technologies{
    /*background-color: #3FB1F8;*/
    background: url("../images/technology-header.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
.single .single-header-bg.agile {
    /*background-color: #33cccc;*/
    background: url("../images/agile-header.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
.single .single-header-bg.people-practices {
    /*background-color: #F58723;*/
    background: url("../images/people-practice-header.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
/* End block */

.single header.entry-header {
    display: table-cell;
    margin-bottom: 34px;
    position: relative;
    vertical-align: middle;
    border: 0;

}

/*.single .entry-meta {
    position: absolute;
    top: 120px;
}*/

.single .entry-meta,
.single .entry-meta .author-name,
.single .entry-meta .posted-by,
.single .posted-on,
.single .posted-on .published-on,
.single .entry-meta .author-name:focus,
.single .entry-meta .author-name:hover{
    color:#fff;
    outline: none;
}

.single .entry-meta .author-name{
    font-family:Gotham-Book;
    font-size:16px;
    letter-spacing:0px;
    text-align:left;
}

.single .entry-title{
    display: inline-block;
    font-family: Gotham-Medium;
    font-size: 37px;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    width: 60%;
    color:#fff;
}

.single .entry-meta .posted-on,
.single .entry-meta .posted-on .published-on{
    font-family:Gotham-Book;
    font-size:12px;
    letter-spacing:0px;
    text-align:left;
}

.single .entry-header {
    text-align: center;
}

.single .entry-content, 
.author .author-header dl {
    color: #2d4158;
    font-family: Gotham-Light;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
    margin-top: 25px;
}

.author .author-header .post-by{
    font-family:Gotham-Book;
    font-size:20px;
    color:#b9bdc5;
    letter-spacing:0px;
    text-align:left;
}

.author .author-header .post-by .author-name{
    font-size:18px;
    color:#0081ff;
}

.author .site-main .link-title{
    color: #2d4158;
    font-family: Gotham-Medium;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 34px;
    text-align: left;
}

.author .site-main .link-title:focus,
.author .site-main .link-title:hover{
    text-decoration: none;
    outline: none;
}

/* Load More Button */
.elm-wrapper{
    float: left;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.elm-wrapper .elm-button{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    position: relative;
    text-align: center;

}

.elm-wrapper .elm-button .elm-button-text{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #a0a0a0;
    font-size: 18px;
    padding: 9px 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.elm-wrapper .elm-button:hover span {
    background-color: #e6e6e6;
    border-color: #adadad;
}



.elm-wrapper .elm-button:hover,
.elm-wrapper .elm-button:focus,
.elm-wrapper .elm-button:active:focus,
.elm-wrapper .elm-button:active:hover{
    outline: none;
}

.elm-loading-anim {
    display: none;
    left: 50%;
    position: absolute;
    top: -45px;
    transform: translateX(-50%);
    width: 35px;
}

/* Category header background */
.category .category-image-container {
    /*background: url('../images/category-design.png') no-repeat 0 0 / cover;*/
    display: table;
    height: 426px;
    margin-bottom: 34px;
    width: 100%;
}

/*Remove this block of code and add image  */
.category .category-image-container.design {
    /*background-color: #0081ff;*/
    background: url("../images/design-header.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
.category .category-image-container.technologies {
    /*background-color: #3FB1F8;*/
    background: url("../images/technology-header.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
.category .category-image-container.agile {
    /*background-color: #33cccc;*/
    background: url("../images/agile-header.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
.category .category-image-container.people-practices {
    /*background-color: #F58723;*/
    background: url("../images/people-practice-header.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: relative;
}
/* End block */

.category .category-header-bg{
    display: table-cell;
    vertical-align: middle;
}

.category .category-image-container .entry-header {
    border: medium none;
}

.category .category-header-bg .header-post .caption {
    background-color: #fff;
    border-radius: 4px;
    height: 244px;    
    padding: 30px;
    position: relative;
    width: 434px;
}

/* Author Image */
.author-image {
    margin: 10px auto;
}

.author-image .photo {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    height: 68px;
    object-fit: cover;
    width: 68px;
}

.single .entry-meta .byline {
    display: block;
    line-height: 10px;
}

.single .post-category,
.category .post-category{
    font-family:Gotham-Medium;
    font-size:15px;
    color:#ffffff;
    letter-spacing:0px;
}

/* Footer */
.wrapper-footer {
    background-color: #0b8695;
    box-sizing: border-box;
    display: block;
    margin-top: 40px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.wrapper-footer .footer-bottom-container {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#footer-bottom-inside {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0 auto;
    max-width: 1140px;
    overflow: auto;
    padding: 30px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.float-right {
    background: url("../images/top.png") no-repeat scroll 0 5px transparent;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 22px;
    transition: all 0.5s ease-in-out 0s;
}

.float-right:hover {
    position: absolute;
    top: 10px;
    transition: all 0.5s ease-in-out 0s;
}

.left-copy {
    color: #d4d4d4;
    float: left;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 12px;
    text-align: left;
    text-transform: capitalize;
}

.left-copy .footer-logo {
    width: 125px;
}

.footer_right_social {
    height: 32px;
    position: absolute;
    right: 0;
}

.footer_right_social .footer-block-two .content a {
    display: inline-block;
    height: 32px;
    margin-right: 5px;
    width: 32px;
}

#footer-bottom-inside a {
    color: #d4d4d4;
    transition: none 0s ease 0s !important;
}

#footer-bottom-inside a:focus,
#footer-bottom-inside a:hover {
    color: #fff;
    transition: none 0s ease 0s ;
    outline: none;
}

.fa-twitter::before {
    content: "";
}

.fa-linkedin::before {
    content: "";
}

.fa-facebook::before {
    content: "";
}

#footer-bottom-inside a i {
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #fff;
    height: 32px;
    line-height: 30px;
    width: 32px;
}

#footer-bottom-inside a i:focus,
#footer-bottom-inside a i:hover {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    color: #0b8695;
    outline: none;
}

.float-right #totop {
    height: 40px;
    line-height: 40px;
    opacity: 0;
    padding: 10px 0;
    width: 40px;
}

.home .nopad-left,
.single .nopad-left{
    padding-left: 0;
} 

.home .nopad-right,
.category-menu .nopad-right,
.single .nopad-right{
    padding-right: 0
}

.archive .caption .entry-meta,
.category .caption .entry-meta {
    bottom: 0;
    margin-bottom: 35px;
    position: absolute;
}

.category .caption .entry-title .title{
    color: #2d4158;
    font-family: gotham-medium;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 36px;
}

.category .caption .entry-title .title:focus,
.category .caption .entry-title .title:hover{
    text-decoration: none;
    outline: none;
}

.single .related-blog {
    display: inline-block;
    margin: 20px;
    width: 40%;
}

.single .related-article{    
    color: #222222;
    font-family: Gotham-Book;    
}

.single .related-article-head{
    border-bottom: 2px solid rgba(150, 150, 150, 0.19);
    font-size: 30px;
    letter-spacing: 0.72px;
    line-height: 46px;
    margin-bottom: 32px;
    text-align: left;
}

.single .related-post-content{
    font-family:Gotham-Light;
    font-size:17px;
    color:#2d4158;
    letter-spacing:0.25px;
    line-height:28px;
    margin-top: 12px;
    text-align:left;
}

.single .related-post-title{
    color: #2d4158;
    font-family: Gotham-Medium;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 34px;
    text-align: left;
    width: 100%;
}

.single .related-post-title:focus,
.single .related-post-title:hover{
    text-decoration: none;
    outline: none;
}

.single .post-tags-caption{
    font-family:Gotham-Medium;
    font-size:15px;
    color:#252525;
    letter-spacing:0.7px;
    line-height:27px;
    text-align:left;
}

.single .post-tags,
.single .post-tags a{
    font-family:Gotham-Medium;
    font-size:14px;
    color:#0081ff;
    letter-spacing:0.65px;
    line-height:27px;
    text-align:left;
    text-transform: uppercase;
}

.single .post-tags a:focus,
.single .post-tags a:hover{ 
    text-decoration: none;
    outline: none;
}

.single .related-post-content > p {
    display: inline;
}

.single .btn-secondary,
.single .btn-secondary:active,
.single .btn-secondary.focus, 
.single .btn-secondary:focus, 
.single .btn-secondary:hover,
.single .btn-secondary:active:hover,
.single .btn-secondary:active:focus {
    background-color: #fff;
    border-color: #fff;
    color: #373a3c;
    outline: none;
}

.category .category-image-container.design::before,
.category .category-image-container.technologies::before,
.category .category-image-container.agile::before,
.category .category-image-container.people-practices::before {
    background: none repeat scroll 0 0 blue;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}